{% extends 'base.html'%} {% block head %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %} {% block body %}
<a href="/room{{room}}/choose_course" class="button">back</a>
<div class="header">
  <h1 class="header-font">Room {{room}}</h1>
  <h3 class="section-header">
    Course {{course}} &nbsp;&nbsp;&nbsp; Section {{section}}
  </h3>
</div>
<!-- <img src="{{ url_for('static', filename='img.png') }}" alt="{{ user_img }}" /> -->

<br />
<div class="live">
  <!-- Large modal -->

  <div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img
          src="{{ url_for('static', filename = 'img.png') }}"
          style="width: 100%; height: 500px"
        />
      </div>
    </div>
  </div>

  <!--  -->

  <!--  -->
  <div class="live-left">
    <img src="{{ url_for('video_feed') }}" style="width: 100%" />
    <div style="margin-top: 10px; display: flex; width: 100%; border: red">
      <form style="width: 100%" action="#" method="post" class="right">
        <input
          type="submit"
          name="button"
          value="Show"
          data-toggle="modal"
          data-target=".bd-example-modal-lg"
        />

        <input class="right" type="submit" name="button" value="Check" />
      </form>
    </div>

    <form
      style="margin-top: 10px"
      action="#"
      enctype="multipart/form-data"
      method="POST"
    >
      <input type="file" name="pic" />
      <input type="submit" name="button" value="Upload a file" />
    </form>
  </div>
  <div class="live-right">
    <h1>Add Name</h1>
    <form action="#" method="post">
      <p>
        <input type="text" name="add_id" style="width: 40%" />
        <input type="text" name="add_name" style="width: 40%" />
        <input type="submit" name="button" value="Add" />
      </p>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Student Name</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{student["id"]}}</td>
          <td>{{student["first_name"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="#" method="post">
      <p>
        <input
          class="btn btn-danger"
          type="submit"
          name="button"
          value="Clear"
        />

        <input
          class="btn btn-success right"
          type="submit"
          name="button"
          value="Confirm"
        />
      </p>
    </form>
  </div>
  <!--
   -->

  {% endblock %}
</div>
