{% extends 'base.html'%} {% block head %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %} {% block body %}
<a href="/admin" class="back-button">Back </a>
<div class="header" style="height: 150px">
  <h1 class="header-font">Manage Student</h1>
</div>
<!-- <img src="{{ url_for('static', filename='img.png') }}" alt="{{ user_img }}" /> -->

<div class="manage-student">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form action="#" enctype="multipart/form-data" method="POST">
          <div class="modal-body flex modal-input">
            <h2 class="light">Student ID:</h2>
            <input class="text-input" name="student-id" />
          </div>
          <div class="modal-body flex modal-input">
            <h2 class="light">First Name:</h2>
            <input class="text-input" name="student-first-name" />
          </div>
          <div class="modal-body flex modal-input">
            <h2 class="light">Last Name:</h2>
            <input class="text-input" name="student-last-name" />
          </div>
          <div class="modal-body flex modal-input">
            <h2 class="light">Nickname:</h2>
            <input class="text-input" name="student-nickname" />
          </div>
          <div class="modal-body flex modal-input">
            <h2 class="light">GPAX:</h2>
            <input class="text-input" name="gpax" />
          </div>

          <div class="modal-body flex modal-input">
            <h2 class="light">Picture:</h2>
            <input class="file-input" type="file" name="pic" />
            
          </div>

        <div style="margin-top: 15px" class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <input
              class="btn btn-default"
              type="submit"
              name="button"
              value="Confirm"
            />
        </form>

          <!-- <form action="#" enctype="multipart/form-data" method="POST"></form> -->
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <input
    type="submit"
    name="button"
    value="Add"
    data-toggle="modal"
    data-target="#myModal"
  />

  <table class="table table-striped student-table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Nickname</th>
        <th>GPAX</th>
        <th style="width:50px">{{""}}</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{student["id"]}}</td>
        <td>{{student["first_name"]}}</td>
        <td>{{student["Nickname"]}}</td>
        <td>{{student["GPAX"]}}</td>
        <td  style="width:20px">
          <form action="{{url_for('delete_student', student_id=student['id'])}}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input style="border:0px" type="submit" name="button" value="&times;" style="width:20px" data-dismiss="modal"/>
            <!-- <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger"> -->
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
