{% extends 'base.html'%} {% block head %} {% endblock %} {% block body %}
<a href="/admin" class="back-button">Back </a>
<br />
<br />

<div class="header" style="height: 150px">
  <h1 class="header-font">Setting Clock</h1>
</div>
<!-- <img src="{{ url_for('static', filename='img.png') }}" alt="{{ user_img }}" /> -->
<br />
<div class="login">
  <h2 class="light">Choose Room</h2>
  <br />
<form method="POST">


    <div class="flex">
      <input class="full-width" name="room" />
      <input
        class="setting-clock-button"
        type="submit"
        name="button"
        value="Enter"
      />
    </div>
</form>
  <br />

  <h2 class="light">Or</h2>
  <br />
  <form action={{url_for('setting_clock')}} method="post" enctype=multipart/form-data>
      {{form.hidden_tag()}}
      {{form.file()}}
      <br><br>
      {{form.submit()}}
  </form>
</div>

{% endblock %}
