{% extends 'base.html'%} {% block head %} {% endblock %} {% block body %}
<a href="/teacher">back</a>
<br />
<div class="header">
  <h1 class="header-font">Room {{room}}</h1>
</div>
<!-- <img src="{{ url_for('static', filename='img.png') }}" alt="{{ user_img }}" /> -->

<br />
<div class="choose-course">
  <form method="POST">
    <div class="flex">
      <div>
        <h2 class="light">Course</h2>
        <input class="full-width" name="course" />
      </div>
      <div style="margin-left: 30px">
        <h2 class="light">Section</h2>
        <input class="full-width" name="section" />
      </div>
    </div>
    <input
      style="font-size: 18px; margin-top: 15px"
      class="right"
      type="submit"
      name="button"
      value="Enter"
    />
  </form>
</div>

{% endblock %}
