{% extends 'base.html'%} {% block head %}<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %} {% block body %}
<a href="/admin" class="back-button">Back </a>
<div class="header" style="height: 150px">
  <h1 class="header-font">Manage Course</h1>
</div>
<!-- <img src="{{ url_for('static', filename='img.png') }}" alt="{{ user_img }}" /> -->

<div class="manage-student">
  <div class="modal fade" id="myModal" role="dialog">
    <form method="POST">

    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body flex modal-input">
          <h2 class="light">Course ID:</h2>
          <input class="text-input" name="course-id" />
        </div>
        <div class="modal-body flex modal-input">
          <h2 class="light">Course Name:</h2>
          <input class="text-input" name="course-name" />
        </div>
        <div class="modal-body flex modal-input">
          <h2 class="light">Section:</h2>
          <input class="text-input" name="section" />
        </div>
        <div class="modal-body flex modal-input">
          <h2 class="light">Academic Year:</h2>
          <input class="text-input" name="year" />
        </div>
        <div class="modal-body flex modal-input">
          <h2 class="light">Semester:</h2>
          <input class="text-input" name="semester" />
        </div>
        <div class="modal-body flex modal-input">
          <h2 class="light">Teacher ID:</h2>
          <input class="text-input" name="teacher-id" />
        </div>

        <div style="margin-top: 15px" class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
            <input
              class="btn btn-default"
              type="submit"
              name="button"
              value="Confirm"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
  <input
    type="submit"
    name="button"
    value="Add"
    data-toggle="modal"
    data-target="#myModal"
  />
  <table class="table table-striped student-table">
    <thead>
      <tr style="text-align: center">
        <th>Course ID</th>
        <th style="width:40%">Course Name</th>
        <th>Section</th>
        <th>Year</th>
        <th style="width:90px">Semester</th>

        <th style="width:20px">{{""}}</th>
        <th>{{""}}</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <!-- <tr style="text-align: center"> -->
      <tr>
        <td>{{course["id"]}}</td>
        <td>{{course["name"]}}</td>
        <td style="padding-left: 25px">{{course["section"]}}</td>
        <td>{{course["year"]}}</td>
        <td style="padding-left: 35px">{{course["semester"]}}</td>
        <td>      
            <form action="{{url_for('student_in_course', course_id=course['id'], course_name=course['name'], year=course['year'], semester=course['semester'], section=course['section'], ocourse_id=course['ocourse_id'])}}" method="post">      
            <input style="border:0px" type="submit" name="button" value="Edit" style="width:20px" />
            </form>  
        </td>
        <td  style="width:20px">
              <form action="{{url_for('delete_course', ocourse_id=course['ocourse_id'])}}" method="post">

              <input type="hidden" name="_method" value="DELETE">
              <input style="border:0px" type="submit" name="button" value="&times;" style="width:20px" />

          </form>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
